.dish-image {
  height: 180px;
  width: 220px;
  object-fit: cover;
  border-radius: 6px;
}
.fooditem-card {
  width: 90%;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 30%;
  gap: 14px;
  margin-bottom: 14px;
}

.non-veg-container {
  width: 40px;
  height: 40px;
  border: 2px solid brown;
  display: flex;
  align-items: center;
  justify-content: center;
}

.non-veg-dot {
  height: 10px;
  width: 10px;
  background-color: brown;
  border-radius: 50%;
}

.veg-container {
  width: 40px;
  height: 40px;
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.veg-dot {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
}

.dish-details-container {
  width: 280px;
}

.dish-calories p {
  color: orange;
  font-weight: 500;
  margin: 2px;
}

.dish-name {
  font-weight: bold;
  font-size: 16px;
}

.dish-currency {
  font-weight: bold;
  font-size: 16px;
  color: rgb(110, 110, 110);
}

.dish-description {
  font-weight: 500;
  font-size: 14px;
  color: rgb(160, 160, 160);
}

.buttons-container {
  display: flex;
  align-items: center;
  background-color: rgb(0, 155, 0);
  width: 120px;
  justify-content: center;
  border-radius: 12px;
  gap: 14px;
}

.buttons-container .count {
  color: white;
  font-weight: bold;
}

.buttons-container .minus-button {
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

.buttons-container .plus-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.not-available {
  color: rgb(254, 29, 29);
}

.custom-text {
  color: rgb(29, 29, 255);
}

.add-to-cart-btn {
  margin-top: 14px;
  border: none;
  background-color: lightskyblue;
  color: snow;
  font-weight: bold;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .dish-image {
    height: 140px;
    width: 180px;
  }

  .dish-details-container {
    width: 220px;
  }
}
